.btn-edit {
    background-color: #ffff3f;
    color: #202020;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.btn-delete {
    background-color: #ef476f;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.btn-save {
    width: 7rem;
    background-color: #b5e48c;
    color: #202020;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.text-field {
    text-align: center;
}